.projects{
	margin: 0;
	padding: 0;
	background-color: #A86;
	display: flex;
	min-height: 63em;
}
.section-images{
	align-items: center;
	text-align: center;
}
.image-p{
	width: 15em;
	height: 15em;
	border-radius: 5%;
	margin: 6em 4em 2em 0 ;

}